<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.toy.dao.MemberDao">
    <resultMap id="Member" type="Member">
        <result column="member_no" property="memberNo" />
        <result column="pw" property="pw" />
        <result column="name" property="name" />
        <result column="balance" property="balance" />
    </resultMap>


    <select id="loginMember" resultType="Member" resultMap="Member">
    SELECT * FROM MEMBER WHERE MEMBER_NO = #{memberNo} AND pw = #{pw}
    </select>

    <update id="chargeBalance" parameterType="Member">
        update member set balance = balance + #{charge}
        where member_no = #{memberNo}
    </update>

</mapper>