<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<main layout:fragment="content" class="main">

    <div class="hero hero-inner">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 mx-auto text-center">
                    <div class="intro-wrap">
                        <h1 class="mb-0">Login</h1>
                        <p class="text-white">
                            "Debugging is like trying to find a needle in a haystack, but you're also blindfolded and the haystack is on fire."</p>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="untree_co-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mb-5 mb-lg-0">
                    <form method="post" action="/login" class="contact-form" data-aos="fade-up" data-aos-delay="200">
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label class="text-black" for="memberNo">ID</label>
                                    <input type="text" class="form-control" name="memberNo" id="memberNo">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label class="text-black" for="pw">PASSWORD</label>
                                    <input type="text" class="form-control" name="pw" id="pw">
                                </div>
                            </div>
                        </div>


                        <button type="submit" class="btn btn-primary">로그인</button>
                    </form>
                </div>
                <div class="col-lg-5 ml-auto">
                    <div class="quick-contact-item d-flex align-items-center mb-4">
                        <span class="flaticon-house"></span>
                        <address class="text">
                            155 Market St #101, Paterson, NJ 07505, United States
                        </address>
                    </div>
                    <div class="quick-contact-item d-flex align-items-center mb-4">
                        <span class="flaticon-phone-call"></span>
                        <address class="text">
                            +1 202 2020 200
                        </address>
                    </div>
                    <div class="quick-contact-item d-flex align-items-center mb-4">
                        <span class="flaticon-mail"></span>
                        <address class="text">
                            @info@mydomain.com
                        </address>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</html>